<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Barber Shop</p>

<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя">
  </div>



  <button type="submit" class="btn btn-primary">Записаться</button>

</form>
